body, html {
   width:320px; 
}
h2{
    font-family: 'Futura', sans-serif;

}
footer {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-top:2px solid #ccc;
    position: fixed;
    bottom: 0px;
}

.section{
    width:370px;
    background-color: #ffffff;
    margin:20px;
    padding: 20px;
}
img.menu {
    display: none;
}

img.social-media {
    margin-left: 50px;
    width:50px;
}

div.header {
    width: 100vw;
    position:fixed;
    top:0px;
    left:-50px;
    background: #fff;
    padding-right: -20px;
}

div.menu {
    position: absolute;
    right: 50px;
}

div.mobile {
    display: none;
}

div.boot {
    width:100%;
    padding:0px 10px;
}
div.header{
    Width:100%;
    margin-right:-50px;
}
.small {
    width: 100%;
    margin: 0 auto;
    padding-bottom:20px;
}
.newsletter{
    visibility: hidden;
}
#phone {

}

#flow {
    padding-top: 50px;
    margin: auto 100px;
    
    
}