html, body {
    width: 100%;
}

h2.heading{
    font-size:1.5em;
}

h2.tab {
    font-family: 'Futura';
    font-size: 15px;
    background: #e33a32;
    width: 220px;
    padding: 5px 20px;
    color: white;
}

div.header {
    height: 15vh;
}

div.container {
    visibility: hidden;
    height: 0px;
}

div.newsletter {
    width: 100%;
    background-color: #ffffff;
    margin-left: -50px;
}

img.iphone {
    position: fixed;
    right: -50px;
    top: 15vh;
    width: 550px;
}

iframe.slide {
    position: fixed;
    top: 32.3vh;
    right: 107px;
    width: 225px;
    z-index: 999;
    height: 375px;
}

img.slides {
    height: 300px;
    margin: 0 auto;
}

img.botnav {
    position: fixed;
    bottom: 31vh;
    right: 107px;
    width: 230px;
}

footer {
    position: fixed;
    bottom: 0px;
}

#flow {
    width: 300px;
    padding: 0px;
    padding-top: 80px;
}
